/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Basic Styling */

* {
  font-family: "Inter", serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  margin: 20px;
  padding-bottom: 40px; /* To prevent content being hidden behind the footer */
}